.center {
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.singupForm {
    background-color: rgb(30, 113, 185);
    margin: 10px auto;
    width: 250px;
    height: 200px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
}

input {
    margin:10px auto;
    padding: 5px;
}